body {
    background-image: linear-gradient(
        180deg,
        #ed6492 5%,
        #ff00b3 20%,
        #812b73 60%,
        #430c58 95%
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    
}

main > section img {
    height: 300px;
    margin: 15px 0;
    width: 300px;
}

button {
    background-color: #c41698;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: EuclidBold;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 15px;
    padding: 9px 23px;
    text-transform: uppercase;
    width: 42%;
}

#detalhes-container {
    font-weight: bold;
    list-style-type: none;
    width: 90%;
}

#detalhes-container > li {
    align-items: baseline;
    display: flex;
}


#detalhes-container > li p {
    color: white;

}
section{
    margin: 12px ;
}

